---
apiVersion: v1
kind: Pod
metadata:
  name: foo-pod
spec:
  containers:
  - image: busybox
    command:
      - "/bin/sh"
      - "-c"
      - "sleep 3600"
    name: foo-container
  restartPolicy: Never
